<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contactus">Contact us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="product-form" action="/contactus/success" method="POST">
            Name<input class="form-control" type="text" name="name"><br/>
            Email<input class="form-control" type="text" name="email">
            <button type="submit">OK</button>
        </form>
    </main>
    
</body>
</html>